#root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
}

body {
  background-color: #334040;
  margin: 0px;
}

button {
  font-family: inherit;
  background-color: burlywood;
  cursor: pointer;
  border: transparent;
  padding: 5%;
  font-size: 1rem;
  border-radius: 1.5rem;
}

.Anime-Cards {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.Contents img {
  object-fit: cover;
}

.Contents {
  background-color: #141a1a;
  width: fit-content;
  padding-right: 1.8%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin-top: 1rem;
  border-radius: 2rem;
  text-align: center;
}

h1 {
  padding-left: 6%;
  padding-right: 6%;
  font-size: 3rem;
  padding-top: 2%;
}

img {
  padding-right: 5%;
  padding-left: 5%;
}

.website-header {
  padding: 2%;
  display: flex;
  background-color: #141a1a;
}